h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(hatter02.png);
    color: #333;
}

.container{
    background-color: #E5E5E5;
    max-width: 600px;
}

.kep2{
    float:left;
    margin-right: 8px;
}

.kep1, .kep3 {
    float:right;
    margin-left: 8px;
}
img{
    width: 200px;
}

p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    
}

.vonalkoz {
    text-transform: uppercase;
    letter-spacing: 8px;
}

h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}